.countDownList{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-content: stretch;
  overflow-y: scroll;
}

.countDownItem {
  margin: 0.5em;
   box-shadow: 1px 1px 3px black;
  min-width: 45vw;
  min-height: 33.3333vh;
  flex: 1;
  display: flex;
  background-color: #3e3e3f;
  color: white;
}

.removeButton {
  margin-right: 1em;
  background: #cc4b37;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 0.3em 0.7em;
  border: 0;
  box-shadow: 2px 2px 3px #2f2f2f;
}

.itemName {
  flex: 1;
}
.itemTime {
}
